repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.1
    hooks:
      - id: ruff
      - id: ruff-format
        args: [--check]

  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: uv run ty check src dev
        language: system
        types: [python]
        pass_filenames: false
