name: Test Docker Wikipedia

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test:
    name: Test wikipedia
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup environment
        uses: ./.github/actions/setup
        with:
          install-playwright: 'true'

      - name: Download CI ZIM
        run: uv run invoke dev.ci.setup-wikipedia

      - name: Build Docker image
        run: uv run invoke envs.docker.build --site=wikipedia --tag=test

      - name: Run integration tests
        run: uv run invoke envs.docker.test --site=wikipedia --tag=test --data-dir=data/wikipedia
