name: Test Docker Shopping Admin

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test:
    name: Test shopping_admin
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup environment
        uses: ./.github/actions/setup
        with:
          install-playwright: 'true'

      - name: Build Docker image
        run: uv run invoke envs.docker.build --site=shopping_admin --tag=test

      - name: Run integration tests
        run: uv run invoke envs.docker.test --site=shopping_admin --tag=test
